[phases.setup]
nixPkgs = ["...", "cairo", "pango", "pkg-config", "libjpeg", "giflib", "librsvg"]

[phases.install]
cmds = ["npm install"]

[phases.build]
dependsOn = ["install"]
cmds = ["npm run build"]

[start]
cmd = "node server.js"
